*{
  padding :0;
  margin :0;
  box-sizing: border-box;
}
body{
  background-color: rgba(37, 33, 33, 0.922);
}
a{
  text-decoration: none;
  color: white;
}
.pizzas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.pizza{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgba(37, 33, 33, 0.922);
  width: calc((95% - 10px) / 3);
  color: white;
  padding: 10px;
  gap: 10px;
}
.pizzas .pizza img{
  width: 80%;
  border-radius: 10px;
  height: 200px;
}
.pizzas .pizza span{
  color: rgb(240, 170, 121);
  font-size: larger;
  font-weight: 900;
}